/* Contenedor del calendario */
.calendar-container {
  margin: 0.5rem;
  width: 80rem;
  height: 90rem;

}

/* Estilos para el contenedor de eventos */
.event-container {
  display: flex;
  align-items: center;
}

/* Estilos para el título de los eventos */
.event-title {
  margin-left: 10px;
}

.rbc-btn-group {
  background-color: bisque;
  margin: 2rem;
}

/* Estilos para el título de los eventos */
.rbc-event-content {
  font-size: 16px;
  color: white;
  white-space: nowrap;
  background-color: #fff;
}

.rbc-header span {
  font-size: x-large;
  color: #666;
}

/* Estilos para los días de la semana */
.rbc-row-header {
  font-weight: bold;
  font-size: x-large;
}


/* Estilos para el botón de navegación del calendario */
.rbc-toolbar button {
  font-size: x-large;
  cursor: pointer;
}

.rbc-toolbar-label {
  font-size: xx-large;
}

/* Estilos para los encabezados de las columnas (días) */
.rbc-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.rbc-week-view {
  margin-top: 2rem;
}

/* Estilos para los días del mes en el calendario */
.rbc-month-view .rbc-month-row+.rbc-month-row {
  border-top: 1px solid #979393;
}

/* Estilos para los días del mes en el calendario */
.rbc-month-view .rbc-date-cell {
  border-right: 1px solid #9c9999;
}

/* Estilos para los días de la semana en la vista de semana */
.rbc-week-view .rbc-bg-cell {
  border-right: 1px solid #ccc;
}

.rbc-event-content {
  padding: 2px 5px;
  margin-bottom: 5px;
}

.rbc-agenda-event-cell,
.rbc-agenda-time-cell,
.rbc-agenda-date-cell {
  color: white;
  font-size: large;
}

/* Estilos para la casilla de verificación */
.checkbox-input {
  transform: scale(1.3);
  margin-right: 0.5rem;
}


.delete-button {
  background: white;
  border: none;
  margin-left: 10px;
  /* Espacio entre el evento y el botón de eliminar */
}

.delete-button i {
  color: #f00;
  /* Color rojo para el ícono de eliminación */
}

.rbc-button-link {
  font-size: x-large;
}